---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const fe: Array<CompatibilityItem> = [
  {
    title: "React",
    icon: "simple-icons:react",
    url: "https://reactjs.org/",
  },
  {
    title: "React Native",
    icon: "simple-icons:expo",
    url: "https://reactnative.dev/",
  },
  {
    title: "Next.js",
    icon: "simple-icons:nextdotjs",
    url: "https://nextjs.org/",
  },
  {
    title: "Tailwind CSS",
    icon: "simple-icons:tailwindcss",
    url: "https://tailwindcss.com/",
  },
];

const be: Array<CompatibilityItem> = [
  {
    title: "Node.js",
    icon: "simple-icons:nodedotjs",
    url: "https://nodejs.org/",
  },
  {
    title: "NestJS",
    icon: "simple-icons:nestjs",
    url: "https://nestjs.com/",
  },
  {
    title: "PostgreSQL",
    icon: "simple-icons:postgresql",
    url: "https://www.postgresql.org/",
  },
  {
    title: "MongoDB",
    icon: "simple-icons:mongodb",
    url: "https://www.mongodb.com/",
  },
];

const infrastructure: Array<CompatibilityItem> = [
  {
    title: "AWS",
    icon: "simple-icons:amazonaws",
    url: "https://aws.amazon.com/",
  },
  {
    title: "Docker",
    icon: "simple-icons:docker",
    url: "https://www.docker.com/",
  },
  {
    title: "Grafana",
    icon: "simple-icons:grafana",
    url: "https://grafana.com/",
  },
  {
    title: "GitHub",
    icon: "simple-icons:github",
    url: "https://github.com/",
  },
];
---

<ContentSection title="Tech stack" id="technologies">
  <Fragment slot="lead">
    Ship reliable <span class="text-primary"
    >JavaScript</span> apps with <br> battle-tested technologies.
  </Fragment>
  <CompatibilityList items={fe} title="frontend" />
  <CompatibilityList items={be} title="backend" />
  <CompatibilityList items={infrastructure} title="infrastructure" />
</ContentSection>
