---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Perpetual Progress",
    description:
      "Continuous self-improvement, overcoming limitations, and expanding human potential through science and technology.",
    icon: "mdi:trending-up",
  },
  {
    title: "Self-Transformation",
    description:
      "Continual enhancement of moral, intellectual, and physical attributes through critical thinking, personal responsibility, and experimentation.",
    icon: "mdi:account-outline",
  },
  {
    title: "Practical Optimism",
    description:
      "Positive, action-oriented outlook, grounded in rationality, driving progress and innovation.",
    icon: "mdi:rocket-launch-outline",
  },
  {
    title: "Intelligent Technology",
    description:
      "Creative application of science and technology to surpass biological constraints and enhance human capabilities.",
    icon: "mdi:test-tube",
  },
  {
    title: "Open Society",
    description:
      "Support for free expression, experimentation, and decentralized power structures, promoting individual freedom and social progress.",
    icon: "mdi:account-group-outline",
  },
  {
    title: "Rational Thinking",
    description:
      "Emphasis on reason, critical inquiry, and intellectual independence, rejecting blind faith and dogma.",
    icon: "mdi:brain",
  },
];
---

<ContentSection title="Features" id="features">
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
